body {
    margin: 0;
    padding: 0;
    font-family: 'Source Code Pro', monospace;
    background-color: #BE9063;
}

header {
    z-index: 100;
    display: flex;
    align-items: center;
    position: fixed;
    justify-content: flex-end;
    background-color: black;
    width: 100%;
}

.logo{
    cursor: pointer;
}

.navbar-desk {
    background-color: black;
}

.navbar{
    position: relative;
    color: white;
    text-decoration: none;
    padding-right: 4vw;
    transition: 1s all ;
}

.navbar-desk a:hover{
    color: yellow;
}

.logo {
    margin-right: 50vw;
    width: 3vw;
}

.back {
    width: 80vw;
    margin: 0 auto;
}

.back img {
    height: 200px;
    border-color: transparent;
}

.back img:hover {
    margin: 10px;
    height: 180px;
    padding: -100px;
}

.image {
    height: 200px;
    background-size: contain;
    background-repeat: no-repeat;
}
.image:hover {
    margin: 10px;
    height: 180px;
}

@media (max-width: 800px) {
    .logo {
        width: 6vw;
    }

    .navbar-desk {
        margin-left: 20.5vw;
    }

    .navbar-desk a {
        font-size: 2vw;
    }
}