body{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}
.navbar-desk{
    display: flex;
    justify-content: flex-end;
    background-color: #000000;
    padding-top: 2.65vw;
    padding-bottom: 2vw;
    width: 100%;
    height: 0;
    z-index: 90;
    position: fixed;
}
.logo{
    z-index: 100;
    position: fixed;
    width: 4vw;
    margin-left: 2vw;
    margin-top: 0.6vw;
}
.navbar{
    margin-right: 6vw;
    text-decoration: none;
    color: #a4978e;
    font-size: 1.2vw;
}
.navbar:hover{
    color: #be9063;
}
.center{
    width: 70vw;
    margin: 0 auto;
}
.nu{
   
}
.center h2{
     padding-top: 3.9vw;
    border-top: 0.1vw solid black;
    padding-top: 4vw;
}
.center h3{
    font-size: 1.7vw;
    margin-top: 8vw;
    width: 40vw;
}
.back{
    margin-top: 2.06vw;
    background-color: #be9063;
}
.image{
    margin-top: 5vw;
    margin-left: 8vw;
    height: 20vw;
    width: 20vw;
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}
.order{
    position: absolute;
    bottom: 21vw;
    color: #be9063;
    font-size: 1.3vw;
    text-decoration: none;
    padding: 1vw  3.5vw;
    border: 1px solid #132226;
    background-color: #132226;

}
.coffee-type1{
    display: flex;
}
.num1{
    background-image: url(https://upload.wikimedia.org/wikipedia/commons/c/c8/Cappuccino_at_Sightglass_Coffee.jpg);
}