body{
    margin: 0;
    padding: 0;
    background-color: #040C0E;
    
}
.main{
    width: 1024px;
    margin-left: auto;
    margin-right: auto;
}
.first,
.sekond,
.third{
    display: flex;
   
    color: #A4978E;
    margin-top: 100px;
}
.left1,
.right1,
.left2,
.right2,
.left3,
.right3{
    width: 512px;
    text-align: center;
    line-height: 3vw;
}
.right1,
.right2,
.right3{
    margin-top: auto;
    margin-bottom: auto;
}

img{
    border-radius: 3vw;
}
h2{
    font-family: 'Times New Roman', Times, serif;
}
p{
    font-family: cursive;
    font-size: 1vw;
}
#p1,
#p3,
#p5{
    padding-bottom: 2vw;
    padding-right: 20vw;
}
#p2,
#p4{
    padding-bottom: 2vw;
    padding-left: 20vw;
}