body {
    margin: 0;
    padding: 0;
    font-family: 'Source Code Pro', monospace;
    background-color: #BE9063;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 100;
    position: fixed;
    background-color: black;
    width: 100%;
}

.logo {
    cursor: pointer;
}

.navbar-desk {
    background-color: black;
}

.navbar {
    margin-right: 2vw;
    position: relative;
    color: white;
    text-decoration: none;
    transition: 0.5s all;
}

.navbar-desk a:hover {
    color: yellow;
    border-bottom: .1rem solid yellow;
    padding-bottom: .5rem;
}
.content h3{
    margin-left: 18vw;
}
.logo {
    margin-right: 50vw;
    width: 3vw;
}

section {
    padding:2vw 1vw;
}
.align{
    margin-left: 20vw;
}
.btn {
    margin-left: 20vw;
    margin-top: 1vw;
    display: inline-block;
    padding:.9vw 3vw;
    font-size: 1.7vw;
    color:#fff;
    background-color: black;
    cursor: pointer;
    text-decoration: none;
    border-radius: 0.5vw;
}

.btn:hover {
    color: gray;
}
.home {
    min-height: 50vw;
    display: flex;
    align-items: center;
    background-size: cover;
    background-position: center;
}

.home .content {
    align-items: center;
    max-width: 60vw;
}

.home .content h3 {
    color: black;
    font-size: 6vw;
    text-transform: uppercase;
    
}

.home .content p {
    font-size: 2vw;
    font-weight: lighter;
    line-height: 2vw;
    padding:1vw 0;
    color:black ;
}


/*review*/
.review .box-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30vw, 1fr));
    gap: 1.5vw;
}

.review .box-container .box {
    border: 0.3vw solid black;
    text-align: center;
    padding: 3vw 2vw;
    border-radius: 1vw; 
}

.review .box-container .box:hover {
    background: gray;
    transform: scale(1.05);
}

.review .box-container .box:hover  {
    color: black;
}

.review .box-container .box p {
    font-size: 1.2vw;
    line-height: 2vw;
    color: black;
    padding: 2vw 0;
}

.review .box-container .box .user {
    height: 8vw;
    width: 8vw;
    border-radius: 50%;
    object-fit: cover;
}

.review .box-container .box h3 {
    padding: 2vw 0;
    font-size:2vw;
    color: #fff;
}

.review .box-container .box .stars i {
    color:black;
    font-size: 1.5rem;
}
.heading{
    font-size: 5vw;
    margin-left: 25vw;
}



footer {
    border-bottom: 0.2vw black solid;
    width: 80vw;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.creator p {
    margin-bottom: 14vw;
    line-height: 2vw;
    font-size: 1.5vw;
}

.prava {
    text-align: center;
}

.write {
    display: flex;
    align-items: center;
    
}
.tg {
    width: 5vw;
}
.contact {
    margin-top: 2vw;
    border: 0.1vw solid black;
    background-color: black;
    border-radius: 2vw;
    display: flex;
    padding: 1.5vw 3vw 1.5vw 1vw;
    width: 15vw;
    align-items: center;
}

.contact4 {
    margin-top: 2vw;
    border-radius: 2vw;
    display: flex;
    padding: 1.2vw 3vw 1.2vw 1vw;
    width: 20vw;
    align-items: center;
}

.contact4 a {
    color: black;
    text-decoration: none;
    font-size: 1.5vw;
}

.contact a {
    font-size: 1.2vw;
    color: white;
    text-decoration: none;
}